.control-panel{
    display: flex;
    min-height: 100vh;
    background-color: rgba(211, 211, 211, 0.5);
    width: 100vw;
    position: relative;

    .modal{
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffffc9;
        z-index: 100;

        .container{
            background-color: rgb(253, 253, 253);
            padding: 2rem;
            border: 2px solid var(--darkGreenColor);
            border-radius: 1rem;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            
            .title{
                font-size: 1.5rem;
                font-weight: 500;
                padding: 1rem 0;
                color: var(--darkGreenColor);
            }

            .buttons{

                .cancelar{
                    color: var(--darkGreenColor);
                    background: transparent;
                    border-color: var(--darkGreenColor);
                    background: var(--yellowColor);
                }
    
                .proceder{
                    background: var(--darkGreenColor);
                }
    
                button{
                    padding: 1rem 1.5rem;
                    margin: .25rem .5rem;
                    border-radius: .5rem;
                    border: 2px solid transparent;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 600;

                    &:hover{
                        background: transparent;
                        color: var(--darkGreenColor);
                        border-color: var(--darkGreenColor);
                    }
                }
            }

        }
    }
  
    .content{
      width: 100%;
      background-color: #fff;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      overflow: hidden;

      .header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .card-container{
            display: flex;

            .card{
                border: 2px solid transparent;
                border-radius: .5rem;
                margin: 1rem;
                padding: 1.25rem;
                background-color: var(--darkGreenColor);
                color: #fff;
                display: flex;
                flex-direction: column;
                width: 100px;
    
                .info{
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                .titulo{
                    font-size: .75rem;
                    font-weight: 100;
                    text-transform: lowercase;
                }
            }
        }
      }

    .table{
        overflow: scroll;
        min-height: 200px;
        max-height: 400px;
        margin: 1.5rem 0;

        table{
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            tr{
                height: 2.5rem;

                input{
                    accent-color: var(--yellowColor);
                    border-color: transparent;

                    &:hover{
                        accent-color: var(--darkGreenColor);
                    }
                }
            }

            thead{
                tr{
                    color: #fff;
                    background: var(--darkGreenColor);
                }
            }

            tbody{
                font-size: .9rem;
                padding: 1.5rem 1rem;

                justify-content: space-evenly;


                tr{
                    transition: .2s ease-in-out;
                    border-radius: .5rem;

                    .status-wrapper{
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;

                        .status{
                            padding: .25rem .5rem;
                            border-radius: .5rem;
                            border: 1px solid var(--darkGreenColor);
                            width: 125px;
                            cursor: pointer;
                        }

                        .icon{
                            font-size: .75rem;
                            margin: 0 .25rem;
                        }
    
                        .pendiente{
                            color: #000;
                            background-color: var(--yellowColor);
                        }
    
                        .confirmado{
                            color: #fff;
                            background-color: var(--darkGreenColor);
                        }

                        .status-menu{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            top: 100%;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid var(--darkGreenColor);
                            width: 100%;
                            border-radius: .5rem;
                            background: #fff;
                            width: 125px;
                            padding: .25rem .5rem;
                            user-select: none;


                            span{
                                padding: .25rem 0;
                                width: 100%;
                                border-radius: .5rem;
                                cursor: pointer;

                                &:hover{
                                    color: #fff;
                                    font-weight: 400;
                                    background-color: var(--darkGreenColor);
                                }
                            }
                        }
                    }

    
                    &:hover{
                        background: var(--yellowColor);

                        .pendiente{
                            color: #fff;
                            background-color: var(--darkGreenColor);
                        }
                    }
                }
            }
        }
      }
    }
  }