@media screen and (min-width: 500px) {
    .splash{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .fade-out{
        animation: fadeOut 1s ease-in-out;
    }

    .splash{
        display: flex;
        min-height: 100vh;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        flex-direction: column;
        background-color: #fff;
    
        .splash-header{
            flex: 1;
            justify-content: center;
            display: flex;
            align-items: center;
    
            img{
                height: 100%;
                width: auto;
            }
        }

        .container{
            flex: 1;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            background-color: var(--darkGreenColor);
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            padding-top: 3rem;

            .splash-home-button{
                border: none;
                background-color: #fff;
                font-size: .8rem;
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
                color: var(--darkGreenColor);
                padding: .5rem 1rem;
                border-radius: .5rem;
            }


            .splash-body{
                flex: 1;
                color:#fff;

                h2{
                    font-size: 1.5rem;
                    font-weight: 800;
                    padding: 0;
                    margin: 0;
                }
            }
        
            .splash-footer{
                flex: 1;
                position: relative;
        
                .button-home-decoration{
                    height: 25px;
                    width: 25px;
                    padding: 1rem;
                    background-color: var(--lightGreenColor);
                    position: absolute;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                    transform: translateX(-60%) translateY(-25%);
                    opacity: .5;
                }
    
            }
        }
    }
}

@keyframes fadeOut {
    0% {
       opacity: 1;
       transform: translateY(0);
    }
    100% {
       opacity: 0;
       transform: translateY(-100%);
    }
}