.mobile{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--darkGreenColor);
    flex-direction: column;
    position: relative;
    display: flex;
    max-width: 500px;
    overflow: hidden;

    .main-menu{
        position: absolute;
        display: block;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        height: 100vh;
        width: 100vw;
        background-color: #ffffffdf;
        z-index: 100;
        justify-content: center;
        align-items: center;
        animation: ScrollDown 1s;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        .menu-close-icon{
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 1.5rem;
            padding: .75rem;
            border: 1px solid var(--darkGreenColor);
            border-radius: 1rem;
        }

        .options{
            display: grid;

            .menu-link{
                font-weight: 800;
                margin: .5rem 0;
                color: var(--darkGreenColor);
                text-decoration: none;
                font-size: 1.25rem;
            }
        }

    }

    .header{
        display: block;
        text-align: end;
        width: 100%;

        .menu-btn{
            border: none;
            margin: .5rem 1rem;
            background: var(--darkGreenColor);
            padding: .25rem .35rem;
            border-radius: .5rem;

            .menu-icon{
                font-size: 2rem;
                color: #fff;
            }
        }
    }

    .main{
        flex: 3;
        margin: 0 1rem;
        display: block;
        user-select: none;
        height: 100%;
        text-align: start;
        align-content: center;

        h1{
            font-size: 4rem;
            font-weight: 900;
            line-height: 3.25rem;
        }
    }

    .footer{
        width: 100%;
        flex: 1;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkGreenColor);
        
        button{
            color: #000;
            font-weight: 600;
            background-color: var(--yellowColor);
            border: none;
            margin: 1rem 0;
            padding: 1rem 1.25rem;
            border-radius: 1rem;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }
}

@keyframes ScrollDown {
    0%{
        transform: translateY(-90%);
    }
    100%{
        transform: translateY(0);
    }
}