.faqs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0 2rem;
        flex-direction: column;

        .icon-container{
            margin: 1rem;
            display: flex;
            justify-items: center;
            align-items: center;
            width: 100%;

            .icon{
                padding: .5rem;
                color: var(--darkGreenColor);
                border: 1px solid var(--darkGreenColor);
                border-radius: 1rem;
                font-size: 2rem;
                margin: 0 2rem;
            }
        }

        h1{
            font-size: 3.75rem;
            color: var(--darkGreenColor);
            margin: 0;
            padding: 0;
        }
    }

    .content{
        margin: 3rem 0;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;

        .container{
            background-color: rgba(229, 229, 229, 0.525);
            padding: 1.5rem;
            border-radius: 1rem;
            color: var(--darkGreenColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 1.5rem;
            flex-direction: column;

            .question{
                width: 80vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                text-align: start;

                .title{
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                }
    
                .chevron-icon{
                    margin: 0 1rem;
                }
            }

            .answer{
                display: block;
                text-align: justify;
                transition: 2s ease-in-out !important;
            }

            .extended{
                display: block;
            }

            .collapsed{
                display: none;
            }
        }
    }
}