@media screen and (min-width: 500px) {
    .desktop{
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: var(--darkGreenColor);
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    .authentication{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .desktop{
        display: none;
    }

    .authentication{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 100vh;
        user-select: none;
        transition: .5s;
        position: relative;
        justify-content: center;
        background-position: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fff;
    
        .loading{
            position: absolute;
            justify-items: center;
            align-content: center;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.5);
        
            .loading-icon{
              font-size: 2.5rem;
              animation: icon-spin-animation infinite 1s linear;
            }
        }

        .screener{
            position: absolute;
            justify-items: center;
            align-content: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.5);

        }
    
        .welcome-app-name{
            text-transform: uppercase;
            font-weight: 900;
            color: var(--darkGreenColor);
            flex: 1;
        }
            
        .credentials-container{
            height: 80%;
            bottom: 0;
        }
    
        .home-container{
            height: 40%;
            bottom: 0;
        }
    
        button{
            margin: .25rem 0;
            color: var(--darkGreenColor);
            background: #fff;
            padding: .5rem 1rem;
            border-radius: .5rem;
            cursor: pointer;
            font-weight: 600;
            border: 2px solid #fff;
            box-shadow: 0 7px 25px rgba(0,0,0,0.08);

            &:hover{
                color: #fff;
                background: var(--darkGreenColor);
            }
        }
    
        .main-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            /* background-color: var(--transparentDarkGreenColor); */
            background-image: linear-gradient(160deg, var(--darkGreenColor) 0%, var(--transparentDarkGreenColor) 100%);

            animation: float 3s ease-in-out;
            border-top-left-radius: 3.5rem;
            border-top-right-radius: 3.5rem;
            position: absolute;
            transition: 1s;
            bottom: -20px;

            .return-icon{
                font-size: 1.5rem;
                color: #fff;
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                padding: 1rem;
                cursor: pointer;
            }
    
            .container{
                width: 100%;
    
                .buttons{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                }
            }
        }
    
        .container{
    
            .form-control{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
    
                .relative{
                    position: relative;
                }
    
                label{
                    color: #fff;
                }
    
                .control-input{
                    background-color: #fff;
                    border: none;
                    margin: .75rem 0;
                    padding: 10px 15px;
                    font-size: 1rem;
                    border-radius: .5rem;
                    outline: none;
                    font-size: 1rem;
                    text-align: center;
                    position: relative;
        
                    &:focus{
                        border: 1px var(--darkGreenColor) solid;
                    }
                }

                .confirmation-code{
                    height: 20px !important;
                    width: 15px !important;
                    margin: 5px 5px;
                    text-align: center;
                    font-size: 1.75rem;
                }
    
                .pswd-icon{
                    position: absolute;
                    right: 0;
                    font-size: 1rem;
                    z-index: 1;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0 .5rem;
                    cursor: pointer;
                }
            }
    
            .main-options{
                justify-content: space-between;
                display: flex;
    
                .main-option-buttton{
                    font-size: .8rem;
                    margin: 1rem 2rem;
                    color: #fff;
                    text-decoration: underline;
                    text-underline-offset: .25rem;
                    transition: .5s;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}